<li class="nav-item has-treeview">
    <a href="/Product/ProductList" class="nav-link">
        <i class="nav-icon fa fa-store"></i>
        <p>
            Ürünler
            <i class="fas fa-angle-left right"></i>
            <span class="badge badge-info right">@TempData["ProductCount"]</span>
        </p>
    </a>
    <ul class="nav nav-treeview">

        <li class="nav-item">
            <a href="/Product/ProductList" class="nav-link">
                <i class="far fa-strore"></i>
                <p>Sayfalama I. Yöntem</p>
            </a>
        </li>

        <li class="nav-item">
            <a href="/Product/PagedListProducts" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Sayfalama II.Yöntem</p>
            </a>
        </li>
    </ul>
</li>

