 <!-- Sidebar Menu -->
<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
         with font-awesome or any other icon font library -->
        <li class="nav-item">
            <a href="/Admin/Dashboard" class="nav-link active">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                    Dashboard
                   
                </p>
            </a>
          
        </li>
        <li class="nav-item">
            <a href="/Category/Index" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>
                    Kategoriler
                    <span class="right badge badge-danger">@TempData["CategoryCount"]</span>
                </p>
            </a>
        </li>
      

        @*Partial içinde de partial çağrılabilir.*@
        @{ 
            Html.RenderAction("AdminSideBarProducts", "Partials");
        }


        <li class="nav-item has-treeview">
            <a href="/Customer/Index" class="nav-link">
                <i class="nav-icon fas fa-chart-pie"></i>
                <p>
                    Müşteriler
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="pages/charts/chartjs.html" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Deneme</p>
                    </a>
                </li>

            </ul>
        </li>
        <li class="nav-item has-treeview">
            <a href="/Order/Index" class="nav-link">
                <i class="nav-icon fas fa-tree"></i>
                <p>
                    Siparişler
                    <i class="fas fa-angle-left right"></i>
                </p>
            </a>

        </li>

        @if (ECommerceLiteBLL.Account.MembershipTools.GetUser() != null)
        {
            <li class="nav-item">
                <a href="/Account/Logout" class="nav-link">
                    <i class="nav-icon far fa-circle text-danger"></i>
                    <p class="text">Çıkış Yap </p>

                </a>

            </li>
        }




    </ul>
</nav>
<!-- /.sidebar-menu -->
