@{
    ViewBag.Title = "ProductList";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>Ürünler</h2>
<br />
<div class="col-12">
    Buraya arama textbox'ı gelecek.

</div>
<div class="col-12">
    <div class="card">
        <div class="card-header">  @*arka plana beyaz seyi attı.*@
            <a href="/Product/Create"
                class="btn btn-info"
               style="margin-left:5px;">  @*soldan 5 px bosluk ver*@
               Yeni Ürün Ekle
               
            </a>

        </div>

    </div>
</div>