@{
    ViewBag.Title = "Activation";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="row margin-vert-30">
    @if (ViewBag.ActivationResult != null)
    {
        <h4 class="text-center">@ViewBag.ActivationResult</h4>
    }
</div>

